# Environments
.env
.env.*
!.env.example
venv/
env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.db
akasha.db

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
.DS_Store
